.container {
  overflow-y: scroll;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  & > .header {
    background-color: #cecece;
    text-align: center;
    padding: 10px;
  }
  & > .desc {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 30px 5px 30px;
  }
  & > .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    & > .states {
      border-left: 1px solid black;
      padding: 25px 15px;
      width: 35%;
      font-size: 0.85rem;
      ol {
        list-style: none;
        padding: 0 1rem;
        counter-reset: state-number;
        & > li {
          counter-increment: state-number;
          margin: 1rem 0;
          p {
            margin-bottom: 0.4rem;
          }
          .checklist {
            display: flex;
            flex-direction: row;
            input[type='checkbox'] {
              margin-right: 0.5rem;
              margin-top: 5px;
            }
          }
        }
        & > li::before {
          content: counter(state-number);
          float: left;
          font-weight: bold;
          color: red;
          border: 1px solid red;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          text-align: center;
          margin-right: 15px; 
        }
      }
    }
    & > .contain {
      width: 65%;
      .element {
        padding: 20px 30px 0 30px;
        .card-deck {
          padding: 0 35px;
          display: grid;
          grid-template-columns: repeat(auto-fit, 150px);
          grid-gap: 20px;
          margin-bottom: 10px;
          &--bigger {
            grid-template-columns: repeat(auto-fit, 200px);
            grid-gap: 2 0px;
          }
          .card {
            display: flex;
            flex-direction: column;
            p {
              font-size: 0.8rem;
            }
            img {
              margin: 5px auto;
              width: 120px;
              height: 100px;
            }
            ul {
              padding-left: 20px;
              text-align: left;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}