.container {  
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  & > .header {
    background-color: #cecece;
    text-align: center;
    padding: 10px;
  }
  & > .desc {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 12%;
    padding: 10px;
  }
  & > .content {
    height: 65vh;
    overflow-y: scroll;
    & > .states {
      border-left: 1px solid black;
      padding-left: 30px;
      padding-top: 30px;
    }
    & > .contain {
      & > .element {
        padding: 20px 30px 0 30px;
        .card-deck {
          padding: 0 50px;
          .card {
            flex: 0 0 31%;
            height: 300px;
            margin: 4px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 0.9em;
            .card-img-top {
              width: 100px;
              height: 75px;
              margin: 5px auto;
            }
            ul {
              padding: 0;
              width: 100px;
              margin: auto;
            }
          }
        }
      }
    }
  }
}