.container {
  overflow-y: scroll;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  & > .header {
    background-color: #cecece;
    text-align: center;
    padding: 10px;
  }
  & > .desc {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
    p {
      margin: 0;
    }
  }
  & > .element {
    padding: 20px 30px 0 30px;
    .card-deck {
      padding: 0 75px;
      a {
        flex: 0 0 20%;
        .card {
          min-height: 90%;
          margin: 4px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          .card-img-top {
            width: 100px;
            height: 60%;
            margin: 5px auto;
          }
          .card-text {
            text-align: center;
            height: 40%;
            font-size: 0.9em;
          }
        }
      }
    }
  }
}