.container {
  overflow-y: scroll;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  & > .header {
    background-color: #cecece;
    text-align: center;
    padding: 10px;
  }
  & > .desc {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
    p {
      margin: 0;
    }
  }
  & > .element {
    padding: 20px 30px 0 30px;
    table, td, th {
      border: 1px solid black;
      padding: 10px;
      text-align: center;
    }
    table {
      margin: 0 75px;
      min-width: 600px;
    }
    thead {
      background-color: #E0E0E0;
    }
    .card-deck {
      padding: 0 75px;
      display: grid;
      grid-template-columns: repeat(auto-fit, 150px);
      grid-gap: 20px;
      a {
        .card {
          min-height: 90%;
          margin: 4px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          img {
            width: 100px;
            height: 60%;
            margin: 5px auto;
          }
          p {
            text-align: center;
            height: 40%;
            font-size: 0.9em;
          }
        }
      }
    }
  }
}