.search-bar {
  height: 17.5%;
  width: 500px;
  height: 100px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  button {
    width: 20%;
    margin: auto;
  }
}

@media (max-width: 550px) {
  .search-bar {
    width: 250px;
  }
}

.card-deck {
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-gap: 1rem;
  justify-content: center;
  .card {
    margin: 0;
    padding: 20px;
    height: 230px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease; /* darken on hover */
    .group-button {
      display: flex;
      flex-direction: column;
      z-index: 1;
      width: 100%;
      opacity: 0; /* hide group buttons */ 
      transition: all 0.3s ease;
      button {
        font-size: 0.85em;
        height: 35px;
        width: 160px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        &:nth-child(1) {
          bottom: -30px;
          top: 30%;
        }
        &:nth-child(2) {
          bottom: -10px;
          top: 60%;
        }
      }
    }
    &:hover { /* darken on hover */
      background-color: rgba(0, 0, 0, 0.4);
      .group-button { /* show group-buttons */ 
        opacity: 1;
      }
    }
    p {
      font-size: 0.8em; 
      margin-bottom: 0;
    }
  }
}